
* {
    padding: 0;
    margin: 0;
}
.burger-menu {
    box-sizing: border-box;
    padding: 15% 15%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
.burger-menu__line {
    width: 100%;
    height: 15%;
    background-color: #000;
    margin: 0 auto;
    transition: transform 0.3s;
}
.burger-menu.active .line1 {
    position: relative;
    top: 25%;
    transform: rotate(45deg);
}
.burger-menu.active .line3 {
    transform: rotate(-45deg);
    position: relative;
    bottom: 25%;
}
.burger-menu.active .line2 {
    display: none;
}
