@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "normalize.scss";
@import "fonts.scss";

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
}
.wrapper {
  cursor: default;
}
.header {
  .signIn {
    font-size: 20px;
    margin: 10px 0;
    .col-md-3 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i {
      padding: 0 5px;
    }
    span {
      font-weight: bold;
      font-family: "Roboto-Regular";
      font-size: 18px;
      line-height: 2;
      text-align: right;
      color: #000000;
      padding: 0 5px;
      padding-left: 10px;
    }
  }
  .helpBlock {
    display: flex;
    font-family: "Roboto-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    &-phoneIMG {
      padding-right: 10px;
      i {
        font-size: 40px;
      }
    }
    &-text {
      &__title {
      }
      &__number {
        color: #000000;
        font-weight: bolder;
      }
    }
  }
  .mainTitleText {
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 52px;
    font-weight: 400;
    line-height: 0.7;
    letter-spacing: -3px;
    color: #000000;
  }
  .searchForm {
    height: 36px;
    display: flex;
    border-radius: 18px;
    border: solid 1px #dddcdc;
    background-color: #fff;
    padding: 8px;
    .searchForm__img {
      box-sizing: border-box;
      position: relative;
    }
    i {
      position: relative;

      top: -2px;
      font-size: 16px;
      color: #dddcdc;
    }
    input {
      background-color: #fff;
      outline: none;
      border: none;
      width: 100%;
    }
  }
  .search {
    display: flex;
    align-items: center;
  }
  .menu {
    padding: 10px 15px;
    border-top: 1px solid #cfcdcd;
    border-bottom: 1px solid #cfcdcd;
    margin-top: 20px;
    display: flex;
    align-items: center;

    .nav {
      .col-md-3.nav {
        padding-right: 0 !important;
      }
      ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          &:hover {
            text-decoration: none;
            color: black;
            border-bottom: 1px solid rgba(0, 0, 0, 1);
          }
          border-bottom: 1px solid rgba(0, 0, 0, 0);
          transition: border-bottom 0.3s;
          box-sizing: border-box;
          font-family: "Roboto-Regular";
          font-size: 15px;
          font-weight: 600;
          line-height: 1.67;
          margin-right: 25px;
          color: #000000;
        }
      }
    }
    .cart {
      font-family: "Roboto-Regular";
      font-size: 15px;
      font-weight: 600;
      line-height: 1.67;

      color: #000000;
      display: flex;
      transition: color 0.3s;
      &:hover {
        color: #999999;
        cursor: pointer;
      }
      i {
        margin-right: 5px;
      }
    }
  }
  .promoBlock {
    margin-top: 10px;
    .promo {
      display: flex;
      &__img {
        .fa-unlock-alt {
          color: #0378a6;
        }
        .fa-car-side {
          color: #fc5b3f;
        }
        .fa-thumbs-up {
          color: #6cb63e;
        }

        margin-right: 10px;
      }
      &__text {
        font-family: "Roboto-Regular";
        font-size: 15px;

        line-height: 1.67;

        color: #000000;
      }
    }
  }
}
.localWrapper {
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
}
.content {
  margin-top: 20px;
  height: 450px;
  .nav {
    &-item {
      padding-left: 15px;
      background-color: #fff;
      margin-bottom: 10px;
      width: 100%;
      font-family: "Roboto-Regular";
      font-size: 21px;
      line-height: 1.2;
      color: #000000;
      &__preTitle {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 15px;
        color: #666666;
      }
      &__title {
        text-transform: uppercase;
        font-weight: bold;
        margin: 5px 0;
      }
      &__line {
        margin: 5px 0;
        height: 5px;
        width: 40%;
        border-top: 1px dotted #666;
        border-bottom: 1px dotted #666;
      }
      &__text {
        font-size: 15px;
        line-height: 1.67;
        color: #000000;
      }
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        transition: background-color 0.6s;
        i {
          font-size: 15px;
        }
        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .main {
    background: url("/img/back_ground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
      span {
        color: #000;
      }
      font-family: "Streetwear";
      font-size: 36px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.69;
      letter-spacing: normal;
      text-align: left;
      color: #fc6f56;
    }
    &__text {
      margin: 10px 0;
      padding: 5px 0;
      font-family: "Roboto-Regular";
      font-size: 21px;
      line-height: 1.19;
      color: #000000;
      border-top: 1px solid rgba(0, 0, 0, 0.11);
      border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    }
    &__button {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      height: 32px;
      border: 1px solid #000;
      border-radius: 16px;
      font-family: "Roboto-Regular";
      font-size: 15px;
      font-weight: bold;
      line-height: 0.5;
      color: #000000;
      transition: background-color 0.6s;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.localWrapper {
  .head {
    p {
      margin-top: 40px;
      font-family: "Roboto-Regular";
      font-size: 18px;
      font-weight: 300;
      line-height: 1.39;
      color: #000000;
    }
  }
}

footer {
  padding-bottom: 10px;
  background-color: #f2f2f2;
  padding-top: 50px;
  margin-top: 50px;
  .links {
    p {
      font-family: "Roboto-Regular";
      font-size: 13px;
      line-height: 2;
      color: #000;
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        font-family: "Roboto-Regular";
        font-size: 13px;
        line-height: 2;
        color: #333333;
      }
    }
  }
  .UsefulInformation {
    p {
      font-family: "Roboto-Regular";
      font-size: 13px;
      line-height: 2;
      color: #000;
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        font-family: "Roboto-Regular";
        font-size: 13px;
        line-height: 2;
        color: #333333;
      }
    }
  }

  .StayConnected {
    p {
      font-family: "Roboto-Regular";
      font-size: 13px;
      line-height: 2;
      color: #333333;
    }
    .title {
      font-family: "Roboto-Regular";
      font-size: 13px;
      line-height: 2;
      color: #000;
      font-weight: bold;
    }
    input {
      font-size: 13px;
      background-color: #fff;
      border: none;
      outline: none;
      width: 100%;
      padding: 10px 20px;
      border-radius: 30px;
      margin-bottom: 10px;
    }
    .name {
    }
    .email {
    }
    button {
      font-size: 13px;
      color: #fff;
      background-color: #6fb07f;
      border: none;
      outline: none;
      width: 100%;
      padding: 10px 20px;
      border-radius: 30px;
      margin-bottom: 10px;
      transition: background-color 0.5s;
      &:hover {
        cursor: pointer;
        background-color: #7fcf93;
      }
    }
  }
  .Testimonials {
    .title {
      font-family: "Roboto-Regular";
      font-size: 13px;
      line-height: 2;
      color: #000;
      font-weight: bold;
    }
    p {
      font-family: "Roboto-Regular";
      font-size: 13px;
      line-height: 2;
      color: #333333;
    }
  }
}

//products

.products_list {
  display: flex;
  flex-direction: column;
  span {
    font-family: "Roboto-Regular";
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
  }

  .priceBlock {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
  }
  button {
    margin-left: 10px;
    font-family: "Roboto-Regular";
    font-size: 13px;
    line-height: 1.6;
    text-align: left;
    color: #000000;
    padding: 0 1.5em;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 1px solid #000;
    border-radius: 16px;
    transition: background-color 0.5s;
    &:hover {
      background-color: rgba($color: #e5e2e2, $alpha: 1);
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      flex-direction: column;
      .name {
        margin-top: 20px;
        align-self: center;
      }
    }
  }
}
